<div class="page-header">
    <h1>Погода в Москве на {{ day.date }}</h1>
</div>

<p><strong>Восход:</strong> {{ day.sunrise }}</p>
<p><strong>Закат:</strong> {{ day.sunset }}</p>
<p *ngIf="day.geomagnetic"><strong>Магнитное поле:</strong> {{ day.geomagnetic }}</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Температура</th>
            <th></th>
            <th>Давление, мм рт.ст.</th>
            <th>Влажность</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let forecast of day.forecasts'>
            <td>{{ forecast.daytime }}</td>
            <td>{{ forecast.temperature }}</td>
            <td>{{ forecast.condition }}</td>
            <td>{{ forecast.pressure }}</td>
            <td>{{ forecast.humidity }}</td>
            <td>{{ forecast.windDirection }}</td>
            <td>{{ forecast.windSpeed }}</td>
        </tr>
    </tbody>
</table>
<hr>
<button class="btn btn-default" routerLink='/'>На главную</button>
